    <%= turbo_frame_tag "prompts" do %>
        <% if @prompts.empty? %>
        <div id="prompts" class="flex bg-slate-300 rounded my-4 w-full text-center justify-center items-center">
            <h4>No results found :(</h4>
        </div>
        <% else %>
            <div id="prompts" class="min-w-full overflow-y-scroll rounded-lg bg-slate-300 border-4 border-slate-300  p-4 my-4">
                <%= render @prompts %>
            </div>
            <div class="flex justify-center items-center py-4">
                <%== pagy_nav(@pagy) if @pagy.pages > 1 %>
            </div>
        <% end %>
        
    <% end %>