<div>
   <div class="bg-gray-200"></div>
     <h1 class="font-bold text-4xl"><%= @dataset.name %></h1>
     <div class="justify-between">
      <div>Language: <%= @dataset.language %></div>
      <div>Switch Spits: 
        <%# <%= link_to split %> %>
      </div>
     </div>

</div>
